main {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


main section {
    width: 100%;
    border-radius: 32px;
    background-image: url('../images/gradient.png');
    background-size: cover;
    background-position-y: -512px;
    padding: 128px;
}

main section h1 {
    font-size: 48px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

main section h3 {
    font-size: 24px;
    color: var(--color-grey);
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 670px) {
    main section {
        padding: 64px;
    }
}

@media screen and (max-width: 500px) {
    main section h1 {
        font-size: 36px;
    }

    main section h3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 412px) {
    main section {
        padding: 32px;
    }
}