@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-black: #030C11;
    --color-white: #fffbff;
    --color-grey: #a3a3a3;
    --color-accent-1: #93E1D8;
    --color-accent-2: #AA4465;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: var(--color-white);
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: auto;
    scroll-behavior: smooth;
}

main {
    padding: 24px 24px;
}

footer {
    color: var(--color-grey);
    font-size: 12px;
    text-align: center;
    margin-top: 64px;
    margin-bottom: 32px;
}